<h3 class="title is-3"> Proposals </h3>

<% if @proposals %>
  <% @proposals.each do |proposal| %>

  <ul>
    <h4><li><span class="glyphicon glyphicon-search" aria-hidden="true"></span><%= link_to proposal.summary, user_proposal_path(proposal.proposer, proposal) %></li><br>Status- <%= proposal.status %></h4><br>
  </ul>
  <% end %>
<% else %>
  <h3> There are currently no proposals available! <h3>
<% end %>
